.classpath
.project
/bin/
/out/
*.class
*.jar
*.zip
consolidado_*.csv
consolidado_enriquecido_*.csv
despesas_*.csv
invalid_*.csv
unmatched_*.csv
Teste_*_despesas_agregadas.csv
Teste_*.zip
/downloads/
/.idea/
/.vscode/
node_modules/
